$breakpoint-small: 320px;
$breakpoint-medium: 600px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

// @media screen and (max-width: $breakpoint-small) {
//     body{
//         font-size: 13px;
//     }

//     h1{
//         font-size: 16px !important;
//     }
// } 