
.contact{ 
    margin: 0px auto;
    padding: 10px;
    font-size: 18px;
    width: 75%;
       
}

section input {
    width: 75%;
    margin: 1%;
}

section textarea {
    width: 75%;
}


.send{    
    text-transform: uppercase;
    margin: 10px;
    background-color: #D4AF37;
    letter-spacing: 3px;
} 

.send:hover{
    background-color: #050505;
    color: white;
}  

 #desayunosHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;    
    margin: 2%;

    
}

.card{
    justify-items: center;
    margin: 2%;
    border-left: 4px inset $primary;
    border-bottom: 4px inset $primary;
    border-right: 4px inset $primary;
}

.pedido{
    text-align: center;
}
    .pedido p{
        font-weight: bold;
        color: $secondary;
        font-size: 20px;
        margin-top: 4%;

    }
        
    .animacion {
        animation: flicker 1s infinite;
      }
      
      @keyframes flicker {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
      }

      #quienesSomos{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        grid-template-areas: 
         "descripcion";

         #descripcion{
            border: 4px inset $primary;
         }
     }
    
     section{
        grid-area: descripcion;
        text-align: center;

        p{
            font-weight: 700;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 10%;
        }
        
        
     }     

    