$primary: #D4AF37;
$secondary: black;
$breakpoint-small: 345px;
$breakpoint-medium: 420px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
     @include titulolanding
 }

label{
    text-shadow: 1px 1px 1px #D4AF37;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 1%;
}
@media (max-width: 769px) {
    h1 {
        font-size: 24px;

    }
    
    nav ul li {
        font-size: 14px;
    }

    section h2{
        font-size: 22px;
    }

    label{
        font-size: 18px;
    }

    .contact{
        font-size: 16px;
    }
    
    footer{
        font-size: 14px;
    }

}

@media (max-width: 600px) {
    body{
        font-size: 16;
    }

    header{
        height: 15vh;
    
        h1 {
            font-size: 18px;
        }
    }

    h2{
        font-size: 22px;
    }

}


@media (max-width: 600px) {
    body{
        font-size: 16;
    }

    header{
        height: 15vh;
    
        h1 {
            font-size: 18px;
        }
    }

    h2{
        font-size: 22px;
    }
}
    
@media (max-width: 480px) {

    body{
        font-size: 16;
    }

    header{
        height: 15vh;
    
        h1 {
            font-size: 18px;
        }
    }

    h2{
        font-size: 22px;
    }

}
 
@media (max-width: 391px) {

    body{
        font-size: 14px;
    }
    
    header{
        height: 15vh;

        h1{
            font-size: 14px;
            
        }

    }
   
      h2{
        font-size: 20px;
    }

}



@media (max-width: 434px) {

    body{
        font-size: 16;
    }

    header{
        height: 15vh;
    
    h1 {
        font-size: 16px;
    

    }
}

    h2{
        font-size: 20px;
    }

}

@media screen and (max-width: $breakpoint-small) {
    body{
        font-size: 13px;
        
    }
    
    header{
        height: 15vh;

        h1{
            display: flex;
            font-size: 13px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

    }

    h2{
        @include titulolanding;
        font-size: 20px;
    
    }

} 