$primary: #D4AF37;
$secondary: black;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    @include titulolanding
}

label{
    text-shadow: 1px 1px 1px #D4AF37;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 1%;
}

