
@media (max-width: 769px) {
    h1 {
        font-size: 24px;

    }
    
    nav ul li {
        font-size: 14px;
    }

    section h2{
        font-size: 22px;
    }

    label{
        font-size: 18px;
    }

    .contact{
        font-size: 16px;
    }
    
    footer{
        font-size: 14px;
    }

}

@media (max-width: 600px) {
    h1 {
        font-size: 19px;

    }
    
    nav ul li {
        font-size: 12px;
    }

    section h2{
        font-size: 18px;
    }

    .contact{
        font-size: 16px;
    }
    
    footer{
        font-size: 14px;
    }

}


@media (max-width: 600px) {
    h1 {
        font-size: 19px;

    }
    
    nav ul li {
        font-size: 11px;
    }

    section h2{
        font-size: 18px;
    }

    .contact{
        font-size: 12px;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    
    }

    nav ul li {
        font-size: 10px;
    }

    section h2{
        font-size: 18px;
    }

    .contact{
        font-size: 12px;
    }
}

@media (max-width: 434px) {
    h1 {
        font-size: 16px;
    

    }
    nav ul li {
        font-size: 9px;
    }

    section h2{
        font-size: 17px;
    }

    .contact{
        font-size: 12px;
    }

    footer{
        font-size: 11px;
    }
}


@media (max-width: 391px) {
    h1 {
        font-size: 13px;
    

    }
    nav ul li {
        font-size: 11px;
    }

    section h2{
        font-size: 17px;
    }

}

@media (max-width: 332px) {
    h1 {
        font-size: 13px;
    

    }
    nav ul li {
        font-size: 10px;
    }

    section h2{
        font-size: 17px;
    }

    .contact{
        font-size: 12px;
    }
    
    footer{
        font-size: 11px;
    }
}
/*Landin preguntas fecuentes*/

label{
    text-shadow: 1px 1px 1px #D4AF37;
    text-decoration: underline;
    
}